<header id="top" class="hFlex">
    <img src="../img/logo.png" alt="" id="logo">

    <nav class="hFlex">
        <ul class="hFlex">
            <nav-link/>
        </ul>
    </nav>
    <form method="post" action="/pages/article_search.php">
        <input type="text" name="search" placeholder="Cerca..." id="search_bar" tabindex="0" required>
        <button type="submit" value="submit" id="search_button" tabindex="0"><i class="fa fa-search"></i></button>
    </form>
    <div class="right_section hFlex">
        <div class="mob_buttons_wrapper hFlex">
            <a href="javascript:void(0);" class="icon search_link" tabindex="0" onclick="searchToggle()">
                <div class="fa fa-search"></div>
            </a>
            <a href="javascript:void(0);" class="icon txt_link" tabindex="0" onclick="menuToggle()">
                <div class="fa fa-bars"></div>
            </a>
        </div>
        <div class="user_cont hFlex">
            <userCont/>
            <!--*SE BISOGNA EFFETTUARE L'ACCESSO:* <a href="login.html" tabindex="0"><div>Accedi/Registrati</div></a>-->
            <!--*SE E' GIA STATO EFFETTUATO:* <div class="logout_cont vFlex">
                  <a href="user_page.html">Il mio profilo</a>
                  <a href="index.html?logout_php">Esci</a>
            </div>
            <user-image/>-->
        </div>
    </div>
</header>
<div class="mob_srch" id="search_mobile">
    <form action="article_filter.html?art_text = {input}">
        <input type="text" placeholder="Cerca.." id="search_bar_mobile" required>
        <button type="submit" id="search_button_mob"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="mob_nav" id="hd">
    <nav>
        <ul>
            <nav-link/>
        </ul>
    </nav>
</div>
