@import "style1.css";

html{
  background: transparent;
}

header, header *, button, nav, .breadcrumbs, footer, footer *, body img{
  display: none !important;
  /*background: transparent !important;*/
}

#wrapper{
  padding: 0;
}

.articoli{
  border-right: solid 1px lightgrey;
}

article, aside {
  -moz-box-shadow:    0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 1em 0.5em 1em 0.5em;
}

aside{
  padding-left: 1em;
}

article+article, aside li+li{
  margin-top: 0;
  border-top: solid 1px lightgrey;
}

article div{
  width: 100%;
}

a {
  color: black;
}

.cat_page {
  flex-direction: column;
  align-items: center;
}

.cat_page figure{
  margin: 0.5em 0;
  max-width: none;
}

.cat_page figcaption{
  border: none;
  text-decoration: underline;
  position: relative;
  padding: 0;
  background: transparent;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: inherit;
}

#titolo_art, #descr_art, #testo_art {
  max-height: 5em;
  overflow: hidden;
  margin-bottom: 1em;
}

#testo_art{
  margin: 0;
}

.pro_pic {
  display: none;
}

.img_name fieldset+fieldset{
  margin: 0;
}

div[role=cont_utente] img{
  display: block !important;
}

form[action="user_page.php"]{
  display: none;
}
