<footer>
    <img id="html5" src="../img/badge-w3c-valid-html5.png" alt="Logo che certifica il rispetto dello standard w3c nella scrittura del codice html">
    <img id="cssLogo" src="../img/css.png" alt="Logo che certifica il rispetto dello standard w3c nella scrittura del codice css">
    <address>
        Progetto di Tecnologie Web sviluppato da:<br>
        <a href="mailto:andrea.polato.7@studenti.unipd.it">Andrea Polato</a><br>
        <a href="mailto:andrea.polato.7@studenti.unipd.it">Tommaso Allegretti</a><br>
        <a href="mailto:andrea.polato.7@studenti.unipd.it">Giosu&egrave; Calgaro</a><br>
        <a href="mailto:andrea.polato.7@studenti.unipd.it">Matteo Miotello</a><br>
    </address>
  </footer>